@font-face {
  font-family: Zabars;
  src: url(./fonts/Zabars.ttf);
}

body {
  display: flex;
  font-family: 'Zabars', sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-image: url(./img/desert.png);
  background-position: center;
  position: relative;
  font-size: 42px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 0;
  color: rgb(37, 36, 36);
  letter-spacing: 8px;
  text-shadow: 4px 4px 2px rgb(201, 131, 69);
}

canvas {
  background-color: black;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 6px rgb(201, 131, 69);
}

.canvas-container {
  text-align: center;
  width: 720px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.gameover-screen {
  position: absolute;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.menu-bar {
  position: absolute;
  top: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: 999;
  margin-right: 30px;
}

.mobile-bindings {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-bindings div {
  display: flex;
  padding-right: 30px;
  gap: 20px;
}

.turn-to-play {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  background-image: url(./img/5_background/layers/air.png);
}

.mobile-bindings div:first-of-type {
  padding-right: 0;
  padding-left: 30px;
}

.menu-bar div {
  display: flex;
  gap: 20px;
}

.menu-bar div:first-of-type {
  padding-right: 0;
  padding-left: 30px;
}

.menu-bar img:hover {
  cursor: pointer;
}

.gameover-screen-container {
  position: absolute;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 285px;
  overflow: hidden;
}

.overlay-screen {
  position: absolute;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-screen img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.mobile-description-container {
  position: absolute;
  font-size: 24px;
  left: 10px;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  gap: 10px;
}

.mobile-description-container div {
  display: flex;
  align-items: center;
}

.mobile-description-container span {
  padding-left: 5px;
  padding-right: 5px;
}

.description-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  background-color: #aeca54;
  box-shadow: 0px 0px 6px 6px rgb(201, 131, 69);
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
}

.description-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description-container span {
  color: rgb(37, 36, 36);
  font-size: 32px;
}

#play-btn-img {
  width: 240px;
  height: auto;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#play-btn-img:hover {
  opacity: 0.8;
  transition: all 250ms ease-in-out;
}

#replay-btn {
  border-radius: 10px;
  color: #a0220a;
  background: linear-gradient(
    to bottom,
    #ffc521,
    #ef8b10
  );
  border: solid 2px;
  outline: none;
  font-family: 'boogaloo', Arial, Helvetica, sans-serif;
  font-size: 40.32px;
  padding: 0px 2.22%;
  margin-bottom: 1.11%;
  box-shadow: 0px 1px 4px 2px rgba(255, 197, 33, 0.3);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.turn-to-play {
  display: flex;
  flex-direction: column;
}

.turn-to-play span {
  margin-top: -50px;
}

.legal {
  display: flex;
  gap: 30px;
  padding-top: 100px;
}

.legal a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(37, 36, 36);
  cursor: pointer;
}

.legal-notice {
  position: absolute;
  display: flex;
  background-color: #aeca54;
  height: 480px;
  width: 100%;
  border-radius: 10px;
  z-index: 999;
}

.legal-notice a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(37, 36, 36);
  cursor: pointer;
}

.legal-notice a:hover {
  color: rgb(0, 0, 0);
}

.legal-notice h2 {
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-shadow: 4px 4px 2px rgb(201, 131, 69);
  color: rgb(37, 36, 36);
  font-size: 32px;
}

.legal-notice p {
  margin: 0;
}

.legal-notice img {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

#privacy-policy {
  overflow: scroll;
  overflow-x: unset;
}

#privacy-policy p {
  font-size: 24px;
}

.legal-notice p {
  font-size: 32px;
}

#privacy-policy::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

#privacy-policy::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#privacy-policy::-webkit-scrollbar-thumb {
  background: #c98345;
  border-radius: 10px;
}

#privacy-policy::-webkit-scrollbar-thumb:hover {
  background: #b3743d;
}

@media only screen and (max-width: 760px) {
  .canvas-container {
    width: 100%;
  }

  #canvas {
    width: 100%;
    height: 480px;
  }

  #start-screen {
    width: 100%;
    object-fit: cover;
  }

  #game-win {
    width: 100%;
    object-fit: cover;
  }

  #game-over {
    width: 100%;
    object-fit: cover;
  }

  .description-container {
    margin-top: 30px;
    width: fit-content;
    flex-direction: column;
  }

  h1 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 420px) {
  .description-container span {
    font-size: 24px;
  }

  .description-container img {
    width: 40px;
  }

  .legal-notice {
    height: 300px;
  }

  #canvas {
    height: 300px;
  }

  #start-screen {
    height: 300px;
  }

  #game-win {
    height: 300px;
  }

  #game-over {
    height: 300px;
  }

  #menu-bar {
    top: 100px;
  }

  .description-container {
    margin-top: 0;
  }
}

@media only screen and (max-height: 480px) {
  .canvas-container {
    height: 100vh;
    width: 100%;
  }

  #canvas {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  #start-screen {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .legal-notice {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .overlay-screen img {
    border-radius: 0;
  }

  #game-win {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  #game-over {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  h1 {
    display: none;
  }
}

@media only screen and (max-width: 740px) {
  .mobile-description-container {
    font-size: 20px;
  }
}

@media only screen and (max-width: 667px) {
  .menu-bar img {
    height: 40px;
  }

  .menu-bar div {
    gap: 10px;
    padding-right: 20px;
  }
}
