@font-face {
  font-family: Zabars;
  src: url(./fonts/Zabars.ttf);
}

body {
  display: flex;
  font-family: 'Zabars', sans-serif;
  letter-spacing: 8px;
  font-size: 42px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-image: url(./img/desert.png);
  background-position: center;
  text-shadow: 4px 4px 2px rgb(201, 131, 69);
  position: relative;
}

h1 {
  margin-bottom: 20px;
  margin-top: 0;
  color: rgb(37, 36, 36);
}

canvas {
  background-color: black;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 6px rgb(201, 131, 69);
}

.gameover-screen {
  position: absolute;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameover-screen-container {
  position: absolute;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 285px;
  overflow: hidden;
}

.gameover-screen-container img {
  border-radius: 10px;
}

.overlay-screen {
  position: absolute;
  width: 720px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 285px;
}

.overlay-screen img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#play-btn-img {
  width: 240px;
  height: auto;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#play-btn-img:hover {
  opacity: 0.8;
  transition: all 250ms ease-in-out;
}

@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }

  .overlay-screen {
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 48px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  h1 {
    display: none;
  }
}
